<!DOCTYPE html>
<head>
<title></title>
</head>
<body>
		<h1><center>AITTunes<center/></h1>
      <hr>

      <form method="GET" action="/"><center>
        <input type="radio" name="filterGenre" value="Rock"> Rock
        <input type="radio" name="filterGenre" value="Pop"> Pop
        <input type="radio" name="filterGenre" value="Hip-Hop"> Hip-Hop
        <input type="radio" name="filterGenre" value="Electronic"> Electronic
        <input type="radio" name="filterGenre" value="Metal"> Metal
        <input type="radio" name="filterGenre" value="Jazz"> Jazz
        <input type="submit" value="Filter by genre">
      </form><center/>
      <hr>

		<center>Recommended Bandz<center/><br/>
      <hr>
    <center>Add a band recommendation<center/><br/>
</body>
</html>


<ul>
{{#each bandnames as |n|}}
	<p>{{n}}</p>
{{/each}}
</ul>



<form method="POST" action="/">
	Band name: <input type="text" name="Band name">
</form>
<br>
<form method="POST" action="/">
	Location: <input type="text" name="Location">
</form>
<br>
<form method="POST" action="/">
	Description: <input type="text" name="Description">
</form>
<br>

<form method="POST" action="/">
  <input type="radio" name="filterGenre" value="Rock"> Rock
  <input type="radio" name="filterGenre" value="Pop"> Pop
  <br>
  <br>
  <input type="radio" name="filterGenre" value="Hip-Hop"> Hip-Hop
  <input type="radio" name="filterGenre" value="Electronic"> Electronic
  <br>
  <br>
  <input type="radio" name="filterGenre" value="Metal"> Metal
  <input type="radio" name="filterGenre" value="Jazz"> Jazz
  <br>
  <br>
  <input type="submit" value="Submit">
</form>
