<!DOCTYPE html>
<head>
<title></title>
<link rel="stylesheet" href="/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
		<h1><center>#HEXCUSE ME!<center></h1>
      <form method="GET" action="/colors"><center>
        r: <input type="number" name="r">
        g: <input type="number" name="g">
        b: <input type="number" name="b">
        total: <input type="number" name="total">
        <input type="submit" value="Submit">
      <center/></form>
      {{#if err}} <h1>{{err}}</h1> {{/if}}
      {{#each result}}
      <li>{{this.name}} ({{this.decimal}}) #{{this.hexadecimal}}</li>
      {{/each}}
</body>
</html>
