<!DOCTYPE html>
<head>
<title></title>
<link rel="stylesheet" href="/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
		<h1><center>#HEXCUSE ME!<center></h1>
      <form method="GET" action="/colors"><center>
        <input type="radio" name="filterGenre" value="Rock"> Rock
        <input type="radio" name="filterGenre" value="Pop"> Pop
        <input type="radio" name="filterGenre" value="Hip-Hop"> Hip-Hop
        <input type="radio" name="filterGenre" value="Electronic"> Electronic
        <input type="radio" name="filterGenre" value="Metal"> Metal
        <input type="radio" name="filterGenre" value="Jazz"> Jazz
        <input type="submit" value="Filter by genre">
      </form><center/>
</body>
</html>
